<!DOCTYPE html>
<html>
<head>
  <title>CacheTiming</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <div class="nav">
          <ul>
            <%- if current_user -%>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
            <%- end -%>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%- flash.each do |key, value| -%>
      <%= value %>
  <%- end -%>

  <section class="main">
    <%= yield %>
  </section>

</body>
</html>
